.sign__up {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__up__card {
  padding: 20px !important;
  width: 100% !important;
  max-width: 400px !important;
  user-select: none !important;
  user-zoom: none !important;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background-color: white;
}
.sign__up__form {
  margin-bottom: 10px;
}
.sign__up__card__content > h1 {
  font-size: 1.5rem;
}
.sign__up__card__content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 30px !important;
}
.sign__up__form__input {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* iPads, Tablets */
  .sign__up__card {
    border: none !important;
  }
}
