.hidden__photos__auth__modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100 !important;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
}
.hidden__photos__auth__modal__form {
  background-color: white;
  width: 100%;
  max-width: 500px !important;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: -1;
  align-content: center;
}
.hidden__photos__auth__modal > form > h1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  font-size: 1rem;
  text-align: center;
}
.hidden__photos__auth__modal__form__input {
  margin-bottom: 5px;
}
.hidden__photos__auth__modal__form__navs {
  display: flex;
  flex-direction: column;
  user-select: none;
  user-zoom: none;
  padding: 10px 0;
}
.hidden__photos__auth__modal__form__navs > p {
  color: gray;
  margin-bottom: 10px !important;
  width: 100%;
  text-align: center;
}
.hidden__photos__auth__modal__form__navs > div {
  display: flex;
  justify-content: space-between;
}
