.delete__photos {
  display: flex;
  margin: 2px auto;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  user-zoom: none;
  flex-direction: column;
}
.delete__photos > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.delete__photos__btn {
  max-width: fit-content !important;
  margin-top: 10px !important;
}

@media only screen and (max-width: 768px) {
  .delete__photos__btn {
    max-width: unset !important;
  }
}
