.delete__account__setting {
  display: flex;
  margin: 2px auto;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  user-zoom: none;
  flex-direction: column;
}

.delete__account__setting > h1 {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.delete__account__setting__message {
  margin: 0 !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
.delete__account__card__form__input {
  margin-bottom: 10px;
}
