.recents {
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  user-select: none;
  user-zoom: none;
  padding: 10px;
  flex: 1;
  overflow-y: scroll;
  position: relative;
}
.recents > h1 {
  color: var(--color-green);
  font-size: 1rem;
  border-bottom: 1px solid var(--color-green);
  text-transform: uppercase;
  width: 100%;
  padding: 5px 0;
}

.recents__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
