.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__card {
  padding: 20px !important;
  width: 100% !important;
  max-width: 400px !important;
  user-select: none !important;
  user-zoom: none !important;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.welcome__card__content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 30px !important;
}
.welcome__card__content > h1 {
  font-size: 1.5rem;
}
.welcome__card__content > img {
  user-zoom: none;
  -webkit-user-drag: none;
  width: 150px;
}
.welcome__card__content > p {
  color: gray;
}
@media only screen and (max-width: 768px) {
  /* iPads, Tablets */
  .welcome__card {
    border: none !important;
  }
}
