.photo {
  padding: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  justify-content: flex-start;
  height: 220px !important;
  position: relative;
  transition: all 1s;
  margin: 5px 10px 5px 0px;
  user-select: none;
  cursor: pointer;
}

.photo > img,
.photo__blur__hash {
  width: 100%;
  object-fit: cover !important;
  margin-bottom: 0px !important;
  flex: 1 !important;
  max-height: 80%;
  -webkit-user-drag: none;
  user-zoom: none;
}
.photo__blur__hash {
  border-radius: 5px !important;
  width: 100% !important;
}
.photo__info > h1 {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
}
.photo__info > p {
  color: gray;
  font-size: 0.7rem;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}
.photo:hover {
  transform: scale(1.09);
  cursor: pointer;
}
.photo:hover > .photo__controls {
  display: flex;
}

.photo__icon,
.photo__icon--down {
  position: absolute;
  color: var(--header-color) !important;
  z-index: 10;
  font-size: 1.5rem;
  right: 10px;
  top: 10px;
}
.photo__icon--down {
  bottom: 10px !important;
  left: 10px !important;
  color: white !important;
}
.photo__loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  z-index: 11;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.photo__loading > div {
  width: 30px;
  height: 30px;
  border: 3px solid var(--color-green);
  border-radius: 50%;
  border-right-color: var(--header-color);
  animation: rotate 1s ease 0s infinite;
}

.photo__controls {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: none;
  transition: all 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.photo__icon__blur {
  position: absolute;
  color: white !important;
  z-index: 10;
  font-size: 1.5rem;
  right: 10px;
  top: 10px;
  top: 40%;
  right: 40%;
}
