.icon__button {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  background-color: var(--header-color);
  border-radius: 50%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.icon__button__icon {
  color: white;
}

.icon__button:hover {
  background-color: var(--color-green);
}
