.favorites {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative !important;
  overflow-x: hidden;
  max-height: 100vh;
}
.favorites__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  background-color: var(--color-gray);
}

.favorites__main > h1 {
  color: var(--color-green);
  font-size: 1rem;
  border-bottom: 1px solid var(--color-green);
  text-transform: uppercase;
  width: 100%;
  padding: 5px 0;
  padding: 20px;
  user-select: none;
  user-zoom: none;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
}
.favorites__main > h1 > span:last-of-type {
  font-weight: normal;
  color: gray !important;
  font-size: 0.9rem;
  text-transform: lowercase !important;
}
.favorites__main > h1 > a {
  text-transform: lowercase !important;
}
.favorites__main__photos {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 10px 10px 10px;
}
