.recent__item {
  padding: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  justify-content: flex-start;
  height: 220px !important;
  position: relative;
  transition: all 1s;
  margin: 5px 10px 5px 0px;
}

.recent__item__icon,
.recent__item__icon--down {
  position: absolute;
  color: var(--header-color) !important;
  z-index: 10;
  font-size: 1.5rem;
  right: 10px;
  top: 10px;
}
.recent__item__icon--down {
  bottom: 10px !important;
  left: 10px !important;
  color: white !important;
}
.recent__item__image {
  width: 100%;
  object-fit: cover !important;
  margin-bottom: 0px !important;
  flex: 1 !important;
  max-height: 80%;
}
.recent__item > h1 {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
}
.recent__item > p {
  color: gray;
  font-size: 0.7rem;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}

.recent__item:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.recent__item__controls {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: none;
  transition: all 1s;
  z-index: 10;
}
.recent__item:hover > .recent__item__controls {
  display: flex;
}
